# Auto detect text files and perform LF normalization
* text=auto

# Large File Storage settings for binary files
*.axgd filter=lfs diff=lfs merge=lfs -text
*.axgx filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
